body {
  background-image: url(01.png);
  min-height: 100vh;/* fill up the screen*/
  padding-bottom:1em;/* make some space at the bottom, a bit of makeup */
  box-sizing:border-box;/* include the padding into min-height calculation */
  background-repeat: no-repeat;
  background-size: cover;
}

#infoSquare{
  margin-top: 15%;
  margin-bottom: 15%;
}

h3{
  text-align: center;
  max-width: 100%;
}
.jumbotron{
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
